$font-size: 1rem;
$font-family: 'SourceSansPro', sans-serif;
$background-color: lightgray;
$font-color: black;
$page-width: 100%;
$container-width: 1200px;
$card-set-gap: 40px;
$card-width: calc(($container-width - ($card-set-gap * 5)) / 4);
